.container {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.header {
  font-size: 24px;
  margin-bottom: 20px;
}

.inputFile {
  margin-bottom: 20px;
}

.fileContentContainer {
  font-family: "Courier New", Courier, monospace;
  white-space: pre; /* já está ok */
  overflow-x: auto;
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
}

.fileContent {
  font-family: "Courier New", Courier, monospace;
  color: #333;
  
}

/* Estilos de destaque */
.highlight-orange {
  background-color: orange;
  font-weight: bold;
  display: inline;
}

.highlight-purple {
  background-color: rgb(229, 116, 252); /* Cor de fundo roxo */
  font-weight: bold;
  display: inline;
}

.highlight-green {
  background-color: lightgreen;
  font-weight: bold;
  display: inline;
}

.highlight-blue {
  background-color: lightblue;
  font-weight: bold;
  display: inline;
}

.highlight-grey {
  background-color: grey;
  font-weight: bold;
  display: inline;
}
/* Estilo para mensagens de erro */
.error {
  color: red;
  margin-top: 10px;
}

/* Legenda */
.legend {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  background-color: #f1f1f1;
}

.legend div {
  margin-bottom: 5px;
}

.legend .highlight-orange,
.legend .highlight-purple,
.legend .highlight-green,
.legend .highlight-blue
.legend .highlight-red {
  padding: 2px 5px;
  border-radius: 3px;
  font-weight: bold;
}


.highlight-pink {
  background-color: #ff69b4;
  color: white;
  padding: 0 2px;
  border-radius: 3px;
}

.highlight-yellow {
  background-color: gold;
  color: black;
  padding: 0 2px;
  border-radius: 3px;
}

.highlight-red {
  background-color: rgb(255, 0, 64);
  color: black;
  padding: 0 2px;
  border-radius: 3px;
}



.legend-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.legend-table th,
.legend-table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

.legend-table th {
  background-color: #f2f2f2;
}
